<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/style.css" type="text/css" />
    <title>My sample JSON data</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <h1>My first heading</h1>
        <a href="/">Go back</a>
        <table>
          <thead>
            <th>title</th>
            <th class="table-body">body</th>
          </thead>
          <tbody id="sample-table-data">
            <tr>
              <td><%= blog?.title %></td>
              <td class="table-body"><%= blog?.body %></td>
            </tr>
          </tbody>
        </table>

        <button type="button" id="delete-blog">Delete</button>

        <!-- Creating a form -->
        <form action="/blogs" method="post">
          <input
            type="text"
            name="title"
            placeholder="Blog title"
            value="<%= blog?.title %>"
          />
          <textarea
            name="body"
            id="blog-body"
            cols="30"
            rows="10"
            placeholder="Blog body"
          >
<%=blog?.body %></textarea
          >
          <button type="submit">Edit existing blog</button>
        </form>
      </div>
    </div>
    <script>
      const form = document.querySelector("form");

      form.addEventListener("submit", (e) => {
        e.preventDefault();
        fetch(
          `/blogs/<%=blog.id%>?title=${form.title.value}&body=${form.body.value}`,
          {
            method: "PUT",
            mode: "cors",
          }
        ).then((res) => {
          // console.log(res);
          if (res.ok) {
            location.href = "/blogs";
          }
        });
      });

      const deleteButton = document.getElementById("delete-blog");

      deleteButton.addEventListener("click", (e) => {
        fetch(`/blogs/<%=blog.id%>`, {
          method: "DELETE",
          mode: "cors",
        }).then((res) => {
          // console.log(res);
          if (res.ok) {
            location.href = "/blogs";
          }
        });
      });
    </script>
  </body>
</html>
